<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!--******************************* 依赖注入 ******************************* -->
	<!-- 基础配置对象 -->
	<bean id="config" class="cn.gqlife.entity.Config">
		<property name="jdbcDriverUrl" value="jdbc:mysql://lyq121524.mysql.rds.aliyuncs.com:3306/golden_apple?user=lyq&amp;password=lyq121524&amp;useUnicode=true&amp;characterEncoding=UTF-8"></property>
		<property name="pushpath" value="http://192.168.0.184:8080/gqpush/notice"></property>
		<property name="wspath" value="http://121.12.249.239:35080/gqrpc4wsguangdongchanbozhongshankaifaqujianglingxilu64hao201403251753/"></property>
		<property name="tongbaoWspath" value="http://121.12.249.239:35080/tongbao/"></property>
	</bean>
	<!-- 反馈表服务 -->
	<bean id='feedbackService' class="cn.gqlife.service.impl.FeedbackServiceImpl">
		<property name="feedbackDAO" ref="feedbackDAO"></property>
	</bean>
	<bean id='feedbackDAO' class="cn.gqlife.dao.impl.FeedbackDAOImpl"></bean>
	<!-- 用户服务 -->
	<bean id="userService" class="cn.gqlife.service.impl.UserServiceImpl">
		<property name="userDAO" ref="userDAO"></property>
	</bean>
	<bean id='userDAO' class="cn.gqlife.dao.impl.UserDAOImpl"></bean>
	<!-- 医生服务 -->
	<bean id="doctorService" class="cn.gqlife.service.impl.DoctorServiceImpl">
		<property name="doctorDAO" ref="doctorDAO"></property>
	</bean>
	<bean id='doctorDAO' class="cn.gqlife.dao.impl.DoctorDAOImpl"></bean>
	<!-- 图片服务 -->
	<bean id="imageService" class="cn.gqlife.service.impl.ImageServiceImpl">
		<property name="imageDAO" ref="imageDAO"></property>
	</bean>
	<bean id='imageDAO' class="cn.gqlife.dao.impl.ImageDAOImpl"></bean>
	<!-- *********************************************************************** -->
</beans>